.card {
    width: 50%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.dropdown-content {
    max-height: 13em;
    overflow: auto;
}

.dropdown-item {
    :hover {
        background-color: #d4d4d4;
    }
}

.dropdown-item-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.list-item{
    :hover {
        background-color: #d4d4d4;
    }
}
 