.card {
    border-radius: 2%;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    .field{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}